<a href="https://colab.research.google.com/github/mhaletoki/MA22C025_2023_PL/blob/main/Assignments/Assignment_9/Pandas_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

**Convert d0 to a corresponding pandas object pd0.**

In [ ]:
d0 = {2:'a', 1:'b', 3:'c'}
pd0 = pd.Series(d0)
print(pd0)

2    a
1    b
3    c
dtype: object

**Sort indices of pd0.**

In [ ]:
pd0 = pd0.sort_index()

**Convert d1 and d2 (together) to a pandas object dd**

In [ ]:
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
dd = pd.DataFrame({'d1': d1, 'd2': d2})
print(dd)

    d1   d2
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

**indexing and slicing on dd.**

In [ ]:
column_d1 = dd['d1'] #Access the 'd1' column

column_d2 = dd['d2'] #Access the 'd2' column
print(column_d1)
print(column_d2)

a    1.0
b    2.0
c    NaN
Name: d1, dtype: float64
a    NaN
b    3.0
c    4.0
Name: d2, dtype: float64

In [ ]:
sliced_rows = dd[0:2] # Slice the first two rows
print(sliced_rows)

    d1   d2
a  1.0  NaN
b  2.0  3.0

**implicit and explicit indexing on dd**

In [ ]:
first_row = dd.iloc[0]

value = dd.loc['a', 'd1'] # Access the first row and 'd1' column value
print(first_row)
print(value)

d1    1.0
d2    NaN
Name: a, dtype: float64
1.0

In [ ]:
row_a = dd.loc['a'] # Access the row with index 'a' using loc

value_b_d2 = dd.loc['b', 'd2'] # Access the value of 'b' in the 'd2' column

**Forward fill and backfill missing values using various axes.**

In [ ]:

forward_filled_dd = dd.fillna(method='ffill')

back_filled_dd = dd.fillna(method='bfill')


forward_filled_axis_0 = dd.fillna(method='ffill', axis=0) # forward filling should be performed along the columns

back_filled_axis_1 = dd.fillna(method='bfill', axis=1)# backward filling should be performed along the rows